/* base/base.css */

body {
    font-family: var(--font-heading);
}

.featured {
    padding: 15px 0;
}

.hero-banner {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}